@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  li,
  a,
  button,
  h1,
  label,
  p,
  input {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  #login,
  #password,
  #email,
  #name,
  #confirmPassword,
  #description,
  textarea {
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
}
